<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css'>
		<title>Express.js server intro.</title>
	</head>
	<body>
		<h2>Calculator.</h2>
		<h3><%= answer %></h3>
	</body>
</html>