<h1>The crappy calc.</h1>

<form action="/result">
	<label>
		First number:
		<input type="number" placeholder="Ex: 23" name="x">
	</label>

	<label>
		Operator:
		<input type="text" placeholder="+, -, * or /" name="operator">
	</label>

	<label>
		Second number:
		<input type="number" placeholder="Ex: 50" name="y">
	</label>

	<button>Calculate!</button>

</form>
