<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Crappy Calculator</title>
		<link rel="stylesheet" href="/css/calculator.css">
	</head>
	<body>
		<!-- dynamic content goes here -->
		<nav>
			<a href="/">Home</a>
			<a href="/faq">FAQ</a>
			<a href="/stocks">Stocks</a>
		</nav>
		<%= yield %>
		<!-- after yield -->
	</body>
</html>
