<form action="/book/result" method="get">
	<label>
		What book do you want some info on?
		<input type="search" name="title" placeholder="Any book you like!">
	</label>
	<button>Search the library.</button>
</form>
