<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>CSS Layout Demo</title>
	<link rel="stylesheet" href="css/layout.css">
</head>

<body>

	<div class="container">

		<header>
			<nav>
				<a href="#">Home</a>
				<a href="#">FAQ</a>
				<a href="#">Contact</a>
			</nav>
			<h1>Title</h1>
		</header>

		<main>
			<h2>Content Goes Here</h2>
			<img src="http://fillmurray.com/400/601" />
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor consectetur numquam quae atque sint iste assumenda ea laudantium laborum! Ducimus et tempora minus porro excepturi aperiam, animi consequuntur laudantium itaque.</p>
			<p>Optio harum vitae ab sunt corrupti autem, magnam voluptatum mollitia distinctio, natus dolorem animi tempore provident voluptatibus quae at architecto dolorum ex, maxime possimus officia voluptas atque quas maiores! Quidem.</p>
			<p>Facilis eos delectus tempora nulla nobis minus optio! Et inventore tempora praesentium nulla, perspiciatis quaerat beatae sit ea aspernatur eaque facilis quos sunt est similique aliquid, ratione sed reiciendis tenetur.</p>
		</main>

		<aside>
			<h3>Fun Facts</h3>
			<ul>
				<li>Stuff from Twitter</li>
				<li>Groucho</li>
				<li>Harpo</li>
				<li>Zeppo</li>
			</ul>
		</aside>

	</div>

</body>

</html>
