<form action="/stock/result" method="get">
	<label>
		Stock symbol:
		<input type="search" name="stock_symbol" placeholder="GOOG, AAPL, etc." required autofocus>
	</label>
	<button>Get it done!</button>
</form>
