<h1>New Planet</h1>

<form action="<%= planets_path %>" method="post">
	<label>
		Name:
		<input type="text" name="name" required autofocus></label>
	<label>
		Image:
		<input type="text" name="image" placeholder="http://..."></label>
	<label>
		Orbit:
		<input type="text" name="orbit"></label>
	<label>
		Diameter:
		<input type="text" name="diameter"></label>
	<label>
		Mass:
		<input type="text" name="mass"></label>
	<label>
		Moons:
		<input type="text" name="moon"></label>

		<button>Create Planet</button>
</form>
