<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css'>
		<title>Number Trivia</title>
	</head>
	<body>
		<h2><%= trivia %></h2>
	</body>
</html>